@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
  --color-gold-50: #fefde8;
  --color-gold-100: #fffcc2;
  --color-gold-200: #fff687;
  --color-gold-300: #ffe943;
  --color-gold-400: #ffd404;
  --color-gold-500: #efbd03;
  --color-gold-600: #ce9200;
  --color-gold-700: #a46804;
  --color-gold-800: #88510b;
  --color-gold-900: #734210;
  --color-gold-950: #432205;


  --color-geebung-50: #faf6ec;
  --color-geebung-100: #f4e7cd;
  --color-geebung-200: #e9d09f;
  --color-geebung-300: #ddb067;
  --color-geebung-400: #d09038;
  --color-geebung-500: #c27e30;
  --color-geebung-600: #a76227;
  --color-geebung-700: #864722;
  --color-geebung-800: #703b23;
  --color-geebung-900: #603323;
  --color-geebung-950: #371911;
  
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
